[submodule "Drivers/STM32_LL_Driver"]
	path = Drivers/STM32_LL_Driver
	url = git@github.com:leoli0605/STM32_LL_Driver.git
[submodule "Drivers/cUtils"]
	path = Drivers/cUtils
	url = git@github.com:leoli0605/cUtils.git
